.s2_button {
  display: block;
  margin: auto 0;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #222222;
  background-color: #f8f8ff;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
}

.s2_button:hover {
  color: #000000;
  background-color: #ffffff;
}
