.s3_size {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: dodgerblue;
}

.s3_content {
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: salmon;
}

.s3_left {
  width: 50%;
  height: 100vh;
  background-color: black;
}

.s3_right {
  width: 50%;
  height: 100vh;
  background-color: red;
}
