.s3_size {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #25262a;
  overflow: hidden;
}

.s3_content {
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: none;
  justify-content: space-between;
}

.s3_left {
  width: 45%;
  height: 100vh;
  display: block;
  background-color: none;
}

.s3_right {
  width: 45%;
  height: 100vh;
  background-color: none;
}

.s3_h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin: 5vh 0;
  padding: 0px;
  text-align: left;
  color: #f8f8ff;
  background-color: none;
}

.s3_section {
  display: block;
  margin-bottom: 3vh;
}

.s3_logo-name {
  position: relative;
  display: flex;
  height: 5vh;
  background-color: none;
  margin: 2vh 0;
  padding-bottom: 3.5vh;
  align-items: center;
}

.s3_p {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-left: 2%;
  padding: 0;
  text-align: left;
  color: #f8f8ff;
  width: 100%;
  border-right: 3px solid #aaaaaa;
}

.s3_logo-size {
  width: 5vh;
  height: 5vh;
}

.s3_img {
  width: 100%;
  height: 100%;
}

.s3_skill-html {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 1vh 0;
  width: 0%;
  height: 1.2vh;
  background-color: aquamarine;
  transition: all 2s;
}
#html:hover > .s3_skill-html {
  width: 85%;
} 

.s3_skill-css {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 1vh 0;
  width: 0%;
  height: 1.2vh;
  background-color: aquamarine;
  transition: all 2s;
}
#css:hover > .s3_skill-css {
  width: 85%;
} 

.s3_skill-js {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 1vh 0;
  width: 0%;
  height: 1.2vh;
  background-color: aquamarine;
  transition: all 2s;
}
#js:hover > .s3_skill-js {
  width: 85%;
} 

.s3_skill-react {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 1vh 0;
  width: 0%;
  height: 1.2vh;
  background-color: aquamarine;
  transition: all 2s;
}
#react:hover > .s3_skill-react {
  width: 80%;
} 
.s3_skill-angular {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 1vh 0;
  width: 0%;
  height: 1.2vh;
  background-color: aquamarine;
  transition: all 2s;
}
#angular:hover > .s3_skill-angular {
  width: 60%;
} 

.s3_skill-sass{
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 1vh 0;
  width: 0%;
  height: 1.2vh;
  background-color: aquamarine;
  transition: all 2s;
}
#sass:hover > .s3_skill-sass {
  width: 65%;
} 

.s3_skill-bootstrap {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 1vh 0;
  width: 0%;
  height: 1.2vh;
  background-color: aquamarine;
  transition: all 2s;
}
#bootstrap:hover > .s3_skill-bootstrap {
  width: 70%;
} 

.s3_skill-mysql {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 1vh 0;
  width: 0%;
  height: 1.2vh;
  background-color: aquamarine;
  transition: all 2s;
}
#mysql:hover > .s3_skill-mysql {
  width: 75%;
} 

.s3_skill-mongodb {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 0%;
  height: 1.2vh;
  background-color: aquamarine;
  transition: all 2s;
}
#mongodb:hover > .s3_skill-mongodb {
  width: 65%;
} 


.s3_skill-django {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 1vh 0;
  width: 0%;
  height: 1.2vh;
  background-color: aquamarine;
  transition: all 2s;
}

#django:hover > .s3_skill-django {
  width: 70%;
} 


.s3_skill-springjava {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 1vh 0;
  width: 0%;
  height: 1.2vh;
  background-color: aquamarine;
  transition: all 2s;
}
#java:hover > .s3_skill-springjava{
  width: 65%;
} 




@media screen and (max-width: 720px)  {
  .s3_h1 {
    font-size: 32px;
  }
  .s3_content {
    width: 100%;
  }
  .s3_p {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px)  {
  .s3_h1 {
    font-size: 20px;
  }
  .s3_p {
    font-size: 16px;
  }
}