.s2_size {
  margin: 0;
  margin-top: -0.05%;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background-color: #25262a; */
  z-index: 2500;
}

.s2_content {
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: none;
}

.s2_left {
  width: 65%;
  height: 100vh;
  background-color: none;
}

.s2_right {
  width: 35%;
  height: 100vh;
  border-radius: 32px;
  background-color: #2c69a5;
  z-index: 20;
}

.s2_left-content {
  width: 100%;
  height: max-content;
  display: block;
}

.s2_left-title {
  height: 12vh;
  width: 100%;
  background-color: none;
}

.s2_h2 {
  font-family: 'Archivo', sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  padding: 5vh;
  padding-bottom: 0;
  color: #f8f8ff;
}

.s2_left-proyects {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  background-color: none;
  justify-content: space-around;
  align-items: center;
}
.s2_proyect-box {
  border: none;
  height: 30vh;
  width: 45%;
  margin: 0;
  padding: 0;
  background-color: none;
}

.s2_right-title {
  width: 100%;
  height: 10vh;
}

.s2_right-text {
  width: 100%;
  margin: 0;
  padding: 0;
  height: max-content;
}

.s2_h1 {
  font-family: 'Archivo', sans-serif;
  font-size: 56px;
  font-weight: 700;
  margin: 0;
  padding: 0 5vh;
  color: #f8f8ff;
}

.s2_p {
  font-family: 'Archivo', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0 5vh;
  color: #f8f8ff;
}

.s2_bttn {
  padding: 0 5vh 4vh;
  width: 45%;
  height: 10vh;
  margin: 10% 0;
}

.s2_h3 {
  font-family: 'Archivo', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0 5vh;
  padding-bottom: 0;
  color: #f8f8ff;
}


@media screen and (max-width: 1300px) {
  .s2_right-text {
    width: 100%;
    margin: 0;
    padding: 0;
    height: max-content;
  }
  .s2_h1 {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    padding: 0 5vh;
    color: #f8f8ff;
  }
  
  .s2_bttn {
    padding: 0 5vh 4vh;
    width: 45%;
    height: 10vh;
    margin: 10% 0;
  }
}

@media screen and (max-width: 1200px) {
  .s2_content {
    width: 100%;
  }

  
  .s2_proyect-box {
    border: none;
    height: 20vh;
    width: max-content; 
    margin: 0;
    margin: 0 auto;
  }

  .s2_left-proyects {
    display: block;
    margin: 0 auto;
  }

  .s2_h2 {
    font-size: 24px;
  }
  .s2_left {
    width: 50%;
    height: 100vh;
    background-color: none;
  }
  
  .s2_right {
    width: 40%;
    margin-right: 10%;
    height: 100vh;
  }
  .s2_right-text {
    width: 100%;
  }
  .s2_bttn {
    padding: 0 5vh 4vh;
    width: 45%;
    height: 10vh;
    margin: 10% 0;
  }
}

@media screen and (max-width: 930px) {
  .s2_right {
    width: 45%;
    margin-right: 5%;
    height: 100vh;
  }
}

@media screen and (max-width: 830px)  {
  .s2_p {
    font-size: 14px;
    font-weight: 400;
    padding: 0 5vh;
    color: #f8f8ff;
  }
}

@media screen and (max-width: 690px)  {
  .s2_content {
    display: block;
    width: 100%;
    z-index: 2500;
  }
  
  .s2_left-title {
    height: max-content;
  }

  .s2_left {
    width: 100%;
    height: max-content;
    background-color: none;
  }

  .s2_left-proyects {
    width: 100%;
    height: max-content;
    padding: 5vh 0;
    display: flex;
    flex-wrap: wrap;
  }

  .s2_right {
    width: 100%;
    height: max-content;
    border-radius: 0px;
    background-color: #2c69a5;
    z-index: 20;
    padding-top: 5vh;
    display: block;
    z-index: 3000;
  }

  .s2_proyect-box {
    border: none;
    width: 40%;
    margin-bottom: 6vh;
  }

  .s2_h2 {
    padding: 1vh 5vh;
    font-size: 18px;
  }

  .s2_right-title {
    width: 100%;
    height: max-content;
  }

  .s2_h1 {
    font-size: 24px;
  }
  
  .s2_p {
    font-size: 12px;
    height: max-content;
  }
  
  .s2_bttn {
    width: 70%;
    height: 6vh;
    margin-bottom: 0;
  }
  
}

@media screen and (max-width: 400px)  {
  .s2_proyect-box {
    border: none;
    width: 65%;
    margin-bottom: 6vh;
  }
}

@media screen and (max-width: 370px)  {
  .s2_proyect-box {
    border: none;
    width: 70%;
    margin-bottom: 6vh;
  }
}

@media screen and (max-width: 350px)  {
  .s2_proyect-box {
    border: none;
    width: 75%;
    margin-bottom: 6vh;
  }
}