.logo_content {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: none;
}
.logo_content > a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

}
.logo_button {
  height: 80%;
  width: max-content;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #1B262C;
}


.logo_img {
  height: 100%;
  width: auto;
  cursor: pointer;
}
