.nav_size {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 5%;
  color: #a6d4f2;
  background-color: #000000;
  z-index: 1000;
}

.nav_content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_logo {
  margin-left: 0;
  margin-right: -10vw;
  width: 25vw;
  background-color: none;
  align-items: center;
  height: 100%;
}

.nav_logo-img {
  margin-top: -2.5%;
  height: 150%;
  cursor: pointer;
}

.nav_logo > h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav_links {
  width: 50vw;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: none;
  padding: 0;
  margin: 0;
}

.nav_links > ul {
  width: 100%;
  align-items: center;
  display: flex;
  background-color: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.nav_links > ul > li {
  cursor: pointer;
  background-color: none;
  padding: 0;
  margin: 0 2%;
}

.nav_links > ul > li:hover {
  color: #ffffff;
}

.links_text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #f8f8ff;
  list-style: none;
}

.nav_socialmedia {
  display: flex;
  width: 15vw;
  height: 80%;
  align-items: center;
  justify-content: center;
  background-color: none;
  background-color: #25262a;
}

.nav_button {
  position: absolute;
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav_logo {
    width: 16vw;
  }

  .nav_logo-img {
    margin-top: -5.5%;
    height: 150%;
  }

  .nav_links {
    width: 68vw;
  }
  .nav_socialmedia {
    width: 16vw;
  }
  .nav_button {
    position: absolute;
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .nav_size {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    height: auto;
    min-height: 5%;
    background-color: none;
    transition: top 2s;
  }

  .nav_button {
    width: 100%;
    height: 100%;
    display: block;
  }

  .nav_size:hover > .nav_content {
    display: block;
    top: 0;
  }

  .nav_size:hover > .nav_button {
    display: none;
  }

  .nav_content {
    display: block;
    position: absolute;
    top: -500px;
    left: -20%;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    transition-property: top;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0s;
  }

  .nav_logo {
    width: 100%;
    height: 150px;
    margin: 0;
    padding-top: 0;
  }

  .nav_logo-img {
    display: block;
    height: 100%;
    margin: 0 auto;
  }

  .nav_links {
    width: 100%;
  }

  .nav_links > ul {
    width: 100%;
    align-items: center;
    display: block;
    margin: 0;
    padding-top: 10%;
    justify-content: center;
  }

  .nav_links > ul > li {
    cursor: pointer;
    padding: 0;
    margin: 2%;
    text-align: center;
  }

  .nav_socialmedia {
    padding-top: 10%;
    width: 100%;
  }
}
